<% 
  let openProject = req.session.openProject; 
%>

<%- include("_header", { openProject }) -%>

<br>
<h3>Create Project</h3>
<form action="/create-project" method="post" id="create-project-form">

    <label for="project-name">Project Name:</label>
  
    <input type="text" id="project-name" name="project-name"><br><br>
  
    <label for="project-directory">Project Directory:</label>
  
    <input type="text" id="project-directory"  style="width: 273px;" name="project-directory" value="<%= currentDir %>/Project"><br><br>
  
    <label for="target-txt">Target.txt:</label><br>
  
    <textarea style="width: 400px;height: 100px;" id="target-txt" name="target-txt"></textarea><br><br>
  
    <input type="submit" value="Create Project" id="create-project-btn">
  
    <span id="error-message"><%= error %></span>

  
</form>

<script>
  const form = document.getElementById('create-project-form');
  const projectNameInput = document.getElementById('project-name');
  const projectDirectoryInput = document.getElementById('project-directory');
  const createProjectBtn = document.getElementById('create-project-btn');
  const errorMessageSpan = document.getElementById('error-message');

  form.addEventListener('input', async () => {
    const projectName = projectNameInput.value;
    const projectDirectory = projectDirectoryInput.value;
    const folderPath = `${projectDirectory}/${projectName}`;

    try {
      const response = await fetch(`/check-folder-exists?folderPath=${folderPath}`);
      const folderExists = await response.json();

      if (folderExists) {
        errorMessageSpan.textContent = `Folder ${projectName} already exists in ${projectDirectory}`;
        createProjectBtn.disabled = true;
      } else {
        errorMessageSpan.textContent = '';
        createProjectBtn.disabled = false;
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>
<br>
<h3>Projects</h3>

<ul>
  <% projects.forEach(project => { %>
    <li>
      <%= project %> 
      <% if (openProject === project) { %>
        <button class="btn btn-secondary" disabled>Opened</button>
      <% } else { %>
        <a href="/project/<%= project %>">
          <button class="btn btn-primary">Open Project</button>
        </a>
      <% } %>
    </li>
  <% }); %>
</ul>

<h6>Due to risk, You can only delete Projects Manually by deleting their folder</h6>

<%- include("_footer") -%>
